<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <input type="text" name="nombre" placeholder="ingrese nombre" />
        <input type="number" name="edad" placeholder="ingrese edad"/>
        <button type="submit">Enviar...</button>
    </form>

    {% if objeto %}
    <h1>{{ saludo }}</h1>
    <h1>Bienvenido: {{ objeto.nombre }}</h1>
    <p>Edad: {{ objeto.edad }}</p>
    <p>{{ objeto.descripcion }}</p>
    {% endif %}

    {% if personas %}
        <ul>
            {% for persona in personas %}
                <li>{{persona.nombre}}</li>
            {% endfor%}
        </ul>
    {% endif %}

</body>
</html>